body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* min-height: 100vh; */
    overflow: visible;
    scroll-behavior: smooth;
}

.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
    z-index: 1;
}

.section1 .textHeader {
    width: 40rem;
}

.section2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: inset 0 0 0.2rem black;
    z-index: 1;
}